Write a quick summary of what happened in the chat group since the last summary.

{% if language %}- Write in {{ language }}. You MUST use {{ language }} language!
{% else %}- Write in the same language as the chat group. You MUST use the same language as the chat group!
{% endif %}- Start by stating this is a quick summary of what happened in "{{ group_name }}" group recently.
- Use a casual conversational writing style.
- Keep it short and sweet.
- Please do tag users while talking about them (e.g., @972536150150). ONLY answer with the new phrased query, no other text.
